# Node dependencies
client/node_modules/
server/node_modules/

# Build output
client/build/
server/build/

# Logs
*.log

# Environment files
client/.env*
server/.env*

# Coverage
client/coverage/
server/coverage/

# OS files
.DS_Store
Thumbs.db

# Misc
client/.pnp
client/.pnp.js
server/.pnp
server/.pnp.js

# IDE
.vscode/

# Ignore audit log
server/audit.log
